In [1]:
import numpy as np
# import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as web
# import datetime as dt

In [2]:
# from sklearn.preprocessing import MinMaxScaler
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense, Dropout, LSTM

In [3]:
import yfinance as yf
# print(yf.__version__)

msft = yf.Ticker("TATAPOWER.NS")

hist = msft.history(period="500d")
hist

0.1.62

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-07-04,70.329150,70.855426,68.702492,69.037392,4570483,0.0,0
2019-07-05,69.037395,69.372294,67.171515,67.554260,4542388,0.0,0
2019-07-08,67.171514,67.362891,64.444467,65.640541,5025170,0.0,0
2019-07-09,65.257800,66.071136,64.922901,65.544861,4835452,0.0,0
2019-07-10,65.975438,66.118969,63.248391,63.487606,6342661,0.0,0
...,...,...,...,...,...,...,...
2021-07-05,121.949997,126.900002,121.750000,125.900002,61606669,0.0,0
2021-07-06,126.000000,126.500000,122.050003,123.000000,31062811,0.0,0
2021-07-07,123.000000,124.500000,122.150002,123.849998,19773453,0.0,0
2021-07-08,124.099998,126.849998,122.400002,123.400002,33870196,0.0,0
2021-07-09,123.000000,124.800003,121.699997,124.449997,24078290,0.0,0

In [14]:
new_df = hist.copy()
new_df['year'], new_df['month'], new_df['day'] = hist.index.year, hist.index.month, hist.index.day
new_df

new_df.reset_index(inplace=True,drop=False)
new_df= new_df.drop(['Date'],axis='columns')
new_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,year,month,day
0,66.358182,67.937001,65.209954,67.649940,6683580,0.0,0,2019,7,1
1,67.984847,70.233464,67.123672,69.946404,20164926,0.0,0,2019,7,2
2,70.233464,70.951108,68.415430,70.664047,13757355,0.0,0,2019,7,3
3,70.329150,70.855426,68.702492,69.037392,4570483,0.0,0,2019,7,4
4,69.037395,69.372294,67.171515,67.554260,4542388,0.0,0,2019,7,5
...,...,...,...,...,...,...,...,...,...,...
493,123.400002,123.900002,121.699997,122.099998,30099781,0.0,0,2021,6,30
494,122.800003,122.800003,121.000000,121.349998,18570986,0.0,0,2021,7,1
495,122.000000,122.599998,120.599998,120.949997,22789936,0.0,0,2021,7,2
496,121.949997,126.900002,121.750000,125.900002,61606669,0.0,0,2021,7,5
497,126.000000,126.500000,122.050003,123.000000,31042323,0.0,0,2021,7,6

In [15]:
# scaler = MinMaxScaler(feature_range=(0,1))

scaled_close= new_df.drop(['Open','High','Low','Close','Volume','Dividends','Stock Splits'],axis='columns')

scaled_open = new_df[['Close','High','Low','Open','Volume','Dividends','Stock Splits']]

scaled_close

     year  month  day
0    2019      7    1
1    2019      7    2
2    2019      7    3
3    2019      7    4
4    2019      7    5
..    ...    ...  ...
493  2021      6   30
494  2021      7    1
495  2021      7    2
496  2021      7    5
497  2021      7    6

[498 rows x 3 columns]

In [16]:
inputs= scaled_close
target = scaled_open

In [18]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [19]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train, y_train)

C:\Users\MS\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [20]:
model.score(x_test, y_test)

C:\Users\MS\Anaconda3\lib\site-packages\sklearn\base.py:420: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)

0.3288717889098721

In [21]:
a=model.predict([[2022,2,1]])
a

array([[7.98797173e+01, 8.09958090e+01, 7.57511586e+01, 7.74549308e+01,
        4.26086512e+07, 0.00000000e+00, 0.00000000e+00]])

In [23]:
for i in range(10) :
    a=model.predict([[2022,2,i]])
    print(a)

[[7.98797173e+01 8.09958090e+01 7.57511586e+01 7.74549308e+01
  4.26086512e+07 0.00000000e+00 0.00000000e+00]]
[[7.98797173e+01 8.09958090e+01 7.57511586e+01 7.74549308e+01
  4.26086512e+07 0.00000000e+00 0.00000000e+00]]
[[8.09760567e+01 8.18551033e+01 7.72771460e+01 7.89661019e+01
  4.32225538e+07 0.00000000e+00 0.00000000e+00]]
[[8.26748871e+01 8.38699992e+01 8.07686412e+01 8.25119220e+01
  4.00062092e+07 0.00000000e+00 0.00000000e+00]]
[[8.58750122e+01 8.68330769e+01 8.20723921e+01 8.29860094e+01
  7.16242532e+07 0.00000000e+00 0.00000000e+00]]
[[8.56972282e+01 8.66997388e+01 8.23736394e+01 8.33563949e+01
  6.40212086e+07 0.00000000e+00 0.00000000e+00]]
[[8.57713058e+01 8.70750625e+01 8.28921791e+01 8.42601352e+01
  6.05230142e+07 0.00000000e+00 0.00000000e+00]]
[[8.55688293e+01 8.80528764e+01 8.43885329e+01 8.70997543e+01
  4.12549428e+07 0.00000000e+00 0.00000000e+00]]
[[8.55391998e+01 8.80923844e+01 8.46848418e+01 8.75244637e+01
  3.81051491e+07 0.00000000e+00 0.00000000e+00]]
[[8.59441536e+01 8.86701846e+01 8.50651032e+01 8.80973258e+01
  3.76959403e+07 0.00000000e+00 0.00000000e+00]]

In [75]:
for i in a :
    for j in i :
        print(j)

82.19092102050782
83.31195005446047
77.72654564045202
79.44513335456102
44577541.5
0.0
0.0

In [76]:
from sklearn.externals import joblib

C:\Users\MS\Anaconda3\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [77]:
joblib.dump(model,'testing saving model')

['testing saving model']

In [7]:
# a=['a','b','c','d']
# b=[1,2,3,4]
# for i ,j in zip(a,b):
#     print(i)
#     print(j)

a
1
b
2
c
3
d
4